#movie-form {
  width: 40%;
  margin: 10px auto 30px;

  h2 {
    font-size: 24px;
    text-align: center;
    color: rgba(3, 3, 93, 0.95);
  }

  label {
    color: rgba(3, 3, 93, 0.95);
    font-weight: 600;
    font-size: 14px;
  }

  .form-select, .form-control {
    font-size: 12px;
    border-radius: 3px;
  }
}

#movie-form .btn-center {
  display: flex;
  justify-content: center;

  button[type="submit"] {
    color: whitesmoke;
    font-weight: 600;
    font-size: 14px;

    padding: 5px 20px;

    box-shadow: 0 2px 2px 3px rgb(227, 227, 227);
    border: none;
    border-radius: 5px;
    background-color: rgba(3, 3, 93, 0.8);
    transition: 0.3s ease;

    &:hover {
      background-color: rgba(3, 3, 93, 1.0);
    }
  }
}
