<div id="movie-container" data-controller="movie-search">
  <div class="movie-banner search">
    <div class="movie-banner-content">
      <h1>Find Movies</h1>
      <form id="search-movies">
        <div class="form-group">
          <div class="d-flex">
            <input type="text" id="movie-name" class="form-control" placeholder="Enter movie title for search..." data-movie-search-target="movie">
            <input type="submit" value="Search" class="btn btn-primary ms-2" data-action='click->movie-search#search'>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div id="movie-grid" data-movie-search-target="grid">
  </div>

</div>
