<div id="movie-container">
  <div class="movie-banner search">
    <h1>Find Movies</h1>
  </div>
  <form id="search-movies">
    <div class="form-group">
      <label for="movie-name" class="form-label">Enter a movie name</label>
      <div class="d-flex">
        <input type="text" id="movie-name" class="form-control" placeholder="The Shawshank Redemption, The Godfather...">
        <input type="submit" value="Search" class="btn btn-primary ms-2">
      </div>
    </div>
  </form>
</div>
